#calendarContainer{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
  width : 100%;
  height : 650px;
}
#calendarAndButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items : center;
  width : 100%;
  height : 650px;
}
#month{
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}
#calendar{
  display : flex;
  vertical-align: middle;
  justify-content: center;
  align-items : center;
  height : 100%;
  width : 800px;
  background-image: url("../images/backgound.png");
  background-size : cover;
  background-position : center center;
  border : none;
}
tr{
  display : flex;
  flex-direction: row;
  line-height : 60px;
  height : 60px;
  margin : 2px 0px;
}

tr *{
  width : 84px;
  vertical-align: middle;
  text-align: center;
  background-color : rgb(255, 214, 214);
}

tr th{
  font-size : 23px;
  color : rgb(255, 255, 255);
  text-shadow: 1px 1px 7px rgb(177, 61, 61);
}
tr > td{
  font-size : 26px;
  color : rgb(255, 110, 110);
  font-family: 'Noto Sans KR', sans-serif;
}

.dayActive{
  cursor : pointer;
}

#thisIsToday{
  color : white;
  font-size : 40px;
  text-shadow : 0px 1px 5px gray;
}