@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

*{
  box-sizing: border-box;
  padding : 0px;
  margin : 0px;
}
body{
  height:100%;
  background-color: rgb(255, 253, 241);
}
#logo{
  font-family: 'Hi Melody', cursive;
  text-align: center;
  margin : 60px 0px 60px 0px;
}